body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background:aqua;
}
div{
    display:flex;
    justify-content:center;
    margin-top:100px;
}
span{
  
    border:5px solid hotpink;
    max-width:500px;
    padding:30px;
    border-radius:20px;
}
a{
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:white;
    display:flex;
    justify-content:center;
   
}
p{
    background-color:blue;
    max-width:220px;
    padding:10px;
    border-radius:10px;
   
}