body{
    background:#51e2f5;
}
div{
    margin-top:100px;
    display:flex;
    justify-content:center;
}
span{
    border:5px solid yellow;
    max-width:500px;
    padding:40px;
    border-radius:20px;
    font-size:20px;
}

a{
    color:blue;
    font-weight:bold;
  
}